.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.idea/libraries/Gradle__javax_annotation_javax_annotation_api_1_2.xml
.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
.idea/libraries/Gradle__javax_ws_rs_javax_ws_rs_api_2_1_m02.xml
.idea/libraries/Gradle__org_glassfish_hk2_external_aopalliance_repackaged_2_5_0_b31.xml
.idea/libraries/Gradle__org_glassfish_hk2_external_javax_inject_2_5_0_b31.xml
.idea/libraries/Gradle__org_glassfish_hk2_hk2_api_2_5_0_b31.xml
.idea/libraries/Gradle__org_glassfish_hk2_hk2_locator_2_5_0_b31.xml
.idea/libraries/Gradle__org_glassfish_hk2_hk2_utils_2_5_0_b31.xml
.idea/libraries/Gradle__org_glassfish_hk2_osgi_resource_locator_1_0_1.xml
.idea/libraries/Gradle__org_glassfish_jersey_bundles_repackaged_jersey_guava_2_26_b01.xml
.idea/libraries/Gradle__org_glassfish_jersey_core_jersey_client_2_26_b01.xml
.idea/libraries/Gradle__org_glassfish_jersey_core_jersey_common_2_26_b01.xml
.idea/libraries/Gradle__org_javassist_javassist_3_20_0_GA.xml
.idea/modules/micro-modules.iml
.idea/modules/micro-modules_main.iml
.idea/modules/micro-modules_test.iml
.idea/workspace.xml
client/build/classes/main/com/eduonix/jerseyClient/Client.class
client/build/classes/main/com/eduonix/jerseyClient/ClientRunner$.class
client/build/classes/main/com/eduonix/jerseyClient/ClientRunner$delayedInit$body.class
client/build/classes/main/com/eduonix/jerseyClient/ClientRunner.class
client/build/libs/client-1.0-SNAPSHOT.jar
client/build/tmp/jar/MANIFEST.MF
client/build/tmp/scala/compilerAnalysis/compileScala.analysis
client/build/tmp/scala/compilerAnalysis/compileScala.analysis.relations
